@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET Core Demo</h1>
    <hr />
    <h3>Current Time (DateTime): @DateTime.Now</h3>
    <br />
    <h3>Site config: @(Configuration.GetValue<string>("AppSettings:SiteName"))</h3>
</div>
